* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
}

.clock {
  background-color: black;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 255, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", monospace;
  color: green;
  font-size: 10vw;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .clock {
    font-size: 15vw;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .clock {
    font-size: 20vw;
    padding: 15px;
  }
}
